.actionButtonContainer {
    display: flex;
    padding: 8px;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    position: fixed;
    bottom: 0;
    width: 360px;
    background-color: white;
}